<div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
 url('<%= cl_image_path @restaurant.photo.key, height: 300, crop: :fill %>')">
 <h1> <%= @restaurant.name %></h1>
  <%= @restaurant.address %>
</div>

<h2> Menu </h2>

<%  @restaurant.meals.each do |meal| %>
  <% if meal.photo.present?  %>
    <div class="card-product"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path restaurant.meal.photo.key %>')"> </div>
  <% end %>
  <div class="card-product-infos">
    <p> <%= meal.name  %> </p>
    <p> <%= meal.price  %> </p>
  </div>
  <% end %>
</div>


<%= link_to "ajouter un plat", new_restaurant_meal_path(@restaurant), class: "btn btn-primary mt-2" %>
